$buttonBackgroundColor: #fafafa;
$buttonBackgroundHoverColor: #ddd;
$buttonBorderColor: #ddd;
$buttonIconPathColor: #4a4a4a;
$buttonIconPathDisabledColor: #ccc;

$delimiterColor: #ddd;
$tableRowHoverColor: #f5f5f5;
$tableRowSelectedColor: #e3e3e3;

$availableColor: #98cc52;

$formElementColor: #4371f7;
$formElementDisabledColor: #bac8f4;

$backdropBackgroundColor: #0000007f;

$modalBackgroundColor: #ffffff;
$modalBoxShadowColor: #666;
$modalTitleBackgroundColor: #666;
$modalTitleColor: #fff;
$modalFooterBackgroundColor: #eaeaea;

$borderColor: #444;
$delimiterColor: #ddd;
$loadingContainerBackgroundColor: #fafafa;
