$s1: 1px;
$s2: 2px;
$s3: 4px;
$s4: 8px;
$s5: 12px;
$s6: 16px;
$s7: 20px;
$s8: 24px;
$s9: 32px;
$s10: 40px;
$s11: 48px;
$s12: 56px;
$s13: 64px;
$s14: 72px;
$s15: 80px;
$s16: 96px;
$s17: 128px;
$s18: 144px;
$s19: 192px;
$s20: 256px;
$s21: 288px;
